@import 'variables';

.dashboard {
  display: flex;
}

.ticket-search {
  padding-top: 10rem;
  padding-left: 2rem;
}

.admin-forms {
  padding-top: 4rem;
  padding-left: 2rem;
}

input:focus {
  border-color: rgb(95, 175, 255);
  box-shadow: 0 0 8px 0 rgb(95, 175, 255);
}
