@import 'variables';

#nav {
  position: fixed;
  width: 100%;
  height: 7%;
  background-color: $accent;
  z-index: 100;
}

#title {
  font-size: 150%;
  color: whitesmoke;
}

.item-color {
  color: whitesmoke;
}

.pointer {
  cursor: pointer;
}
